%h2
  Closed Pull Requests on
  %a{href: 'https://github.com/rails/rails'} Rails
.content

.legend
  .merged Merged Pull requests
  .unmerged Unmerged Pull requests

.description
  A simple experiment on what pull requests look like on a major open source github repo.

= javascript_include_tag 'main'
= stylesheet_link_tag 'styles'
