---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/rails/rails/issues/12091/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1379366404'
      Last-Modified:
      - Mon, 16 Sep 2013 18:02:37 GMT
      Etag:
      - '"c401894485087390b36a4605f9b41d2d"'
      X-Github-Media-Type:
      - github.beta
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/rails/rails/issues/comments/23599587","html_url":"https://github.com/rails/rails/pull/12091#issuecomment-23599587","issue_url":"https://api.github.com/repos/rails/rails/issues/12091","id":23599587,"user":{"login":"danfinnie","id":92105,"avatar_url":"https://0.gravatar.com/avatar/f42ca7213b32b4382fb79e05f5ab7619?d=https%3A%2F%2Fidenticons.github.com%2Fafccff39c72885b3081b49bd6941da7b.png","gravatar_id":"f42ca7213b32b4382fb79e05f5ab7619","url":"https://api.github.com/users/danfinnie","html_url":"https://github.com/danfinnie","followers_url":"https://api.github.com/users/danfinnie/followers","following_url":"https://api.github.com/users/danfinnie/following{/other_user}","gists_url":"https://api.github.com/users/danfinnie/gists{/gist_id}","starred_url":"https://api.github.com/users/danfinnie/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/danfinnie/subscriptions","organizations_url":"https://api.github.com/users/danfinnie/orgs","repos_url":"https://api.github.com/users/danfinnie/repos","events_url":"https://api.github.com/users/danfinnie/events{/privacy}","received_events_url":"https://api.github.com/users/danfinnie/received_events","type":"User"},"created_at":"2013-08-31T03:08:14Z","updated_at":"2013-08-31T03:08:14Z","body":"This
        seems like a use for ```Enumerable#zip``` to me:\r\n\r\n```values.zip(columns).map
        { |value, column| column.type_cast value }```"},{"url":"https://api.github.com/repos/rails/rails/issues/comments/23599606","html_url":"https://github.com/rails/rails/pull/12091#issuecomment-23599606","issue_url":"https://api.github.com/repos/rails/rails/issues/12091","id":23599606,"user":{"login":"egilburg","id":242532,"avatar_url":"https://2.gravatar.com/avatar/[...]
[...]
